-- MyDAC version: 12.3.1
-- MySQL server version: 8.0.46
-- MySQL client version: 8.0.0 Direct
-- Script date 2026/08/31 오후 4:37:22
-- ---------------------------------------------------------------------- 
-- Server: 172.30.1.11
-- Database: asterisk

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
-- 
-- Table structure for table `ars_scripts`
-- 

DROP TABLE IF EXISTS `ars_scripts`;
CREATE TABLE `ars_scripts` (
  `id` varchar(40) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `script_text` text,
  `upd_user` varchar(40) DEFAULT NULL,
  `upd_dtime` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- 
-- Dumping data for table `ars_scripts`
-- 

LOCK TABLES `ars_scripts` WRITE;
INSERT INTO `ars_scripts` VALUES
 ('01_welcome','기본 인사말','안녕하세요. 정성을 다하는 씨알엠뱅크입니다.','admin','2026-08-30 06:34:07'),
 ('02_select_menu','부서 선택 안내','영업팀은 1번, 기술팀은 2번을 눌러주세요.','admin','2026-08-30 06:34:07'),
 ('05_callback_confirm','콜백 접수 확인','상담 예약이 접수되었습니다. 곧 연락드리겠습니다.','admin','2026-08-30 06:34:07'),
 ('07_company_info','회사 정보 안내','씨알엠뱅크는 경기도 안산시에 위치하고 있습니다.','admin','2026-08-30 06:34:07'),
 ('08_night_greeting','업무 종료 안내','지금은 업무 종료 시간입니다. 내일 다시 전화주세요.','admin','2026-08-30 06:34:07');
UNLOCK TABLES;

-- 
-- Table structure for table `cdr`
-- 

DROP TABLE IF EXISTS `cdr`;
CREATE TABLE `cdr` (
  `id` int NOT NULL AUTO_INCREMENT,
  `calldate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `clid` varchar(80) NOT NULL DEFAULT '',
  `src` varchar(80) NOT NULL DEFAULT '',
  `dst` varchar(80) NOT NULL DEFAULT '',
  `dcontext` varchar(80) NOT NULL DEFAULT '',
  `channel` varchar(80) NOT NULL DEFAULT '',
  `dstchannel` varchar(80) NOT NULL DEFAULT '',
  `lastapp` varchar(80) NOT NULL DEFAULT '',
  `lastdata` varchar(80) NOT NULL DEFAULT '',
  `duration` int NOT NULL DEFAULT '0',
  `billsec` int NOT NULL DEFAULT '0',
  `disposition` varchar(45) NOT NULL DEFAULT '',
  `amaflags` int NOT NULL DEFAULT '0',
  `accountcode` varchar(20) NOT NULL DEFAULT '',
  `uniqueid` varchar(32) NOT NULL DEFAULT '',
  `userfield` varchar(255) NOT NULL DEFAULT '',
  `sequence` int NOT NULL DEFAULT '0',
  `peeraccount` varchar(20) NOT NULL DEFAULT '',
  `linkedid` varchar(32) NOT NULL DEFAULT '',
  `recordingfile` varchar(255) NOT NULL DEFAULT '',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- 
-- Dumping data for table `cdr`
-- 

-- 
-- Table structure for table `extensions`
-- 

DROP TABLE IF EXISTS `extensions`;
CREATE TABLE `extensions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `context` varchar(40) DEFAULT NULL,
  `exten` varchar(40) DEFAULT NULL,
  `priority` int DEFAULT NULL,
  `app` varchar(40) DEFAULT NULL,
  `appdata` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- 
-- Dumping data for table `extensions`
-- 

LOCK TABLES `extensions` WRITE;
UNLOCK TABLES;

-- 
-- Table structure for table `global_vars`
-- 

DROP TABLE IF EXISTS `global_vars`;
CREATE TABLE `global_vars` (
  `var_name` varchar(40) NOT NULL,
  `var_value` varchar(40) DEFAULT NULL,
  PRIMARY KEY (`var_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- 
-- Dumping data for table `global_vars`
-- 

LOCK TABLES `global_vars` WRITE;
INSERT INTO `global_vars` VALUES
 ('BUSINESS_MODE','OPEN');
UNLOCK TABLES;

-- 
-- Table structure for table `ps_aors`
-- 

DROP TABLE IF EXISTS `ps_aors`;
CREATE TABLE `ps_aors` (
  `id` varchar(40) NOT NULL,
  `max_contacts` int DEFAULT NULL,
  `remove_existing` varchar(3) DEFAULT NULL,
  `qualify_frequency` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- 
-- Dumping data for table `ps_aors`
-- 

LOCK TABLES `ps_aors` WRITE;
INSERT INTO `ps_aors` VALUES
 ('101',5,'yes',30),
 ('102',5,'yes',30),
 ('103',5,'yes',30),
 ('121',5,'yes',30),
 ('122',5,'yes',30),
 ('131',5,'yes',30),
 ('132',5,'yes',30);
UNLOCK TABLES;

-- 
-- Table structure for table `ps_auths`
-- 

DROP TABLE IF EXISTS `ps_auths`;
CREATE TABLE `ps_auths` (
  `id` varchar(40) NOT NULL,
  `auth_type` varchar(40) DEFAULT NULL,
  `password` varchar(80) DEFAULT NULL,
  `username` varchar(80) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- 
-- Dumping data for table `ps_auths`
-- 

LOCK TABLES `ps_auths` WRITE;
INSERT INTO `ps_auths` VALUES
 ('101','userpass','101password','101'),
 ('102','userpass','102password','102'),
 ('103','userpass','103password','103'),
 ('121','userpass','121password','121'),
 ('122','userpass','122password','122'),
 ('131','userpass','131password','131'),
 ('132','userpass','132password','132');
UNLOCK TABLES;

-- 
-- Table structure for table `ps_contacts`
-- 

DROP TABLE IF EXISTS `ps_contacts`;
CREATE TABLE `ps_contacts` (
  `id` varchar(255) NOT NULL,
  `uri` varchar(255) DEFAULT NULL,
  `expiration_time` varchar(40) DEFAULT NULL,
  `qualify_frequency` int DEFAULT NULL,
  `outbound_proxy` varchar(40) DEFAULT NULL,
  `path` text,
  `user_agent` varchar(255) DEFAULT NULL,
  `qualify_timeout` float DEFAULT NULL,
  `reg_server` varchar(40) DEFAULT NULL,
  `authenticate_qualify` varchar(3) DEFAULT NULL,
  `via_addr` varchar(40) DEFAULT NULL,
  `via_port` int DEFAULT NULL,
  `call_id` varchar(255) DEFAULT NULL,
  `endpoint` varchar(40) DEFAULT NULL,
  `prune_on_boot` varchar(3) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- 
-- Dumping data for table `ps_contacts`
-- 

-- 
-- Table structure for table `ps_endpoints`
-- 

DROP TABLE IF EXISTS `ps_endpoints`;
CREATE TABLE `ps_endpoints` (
  `id` varchar(40) NOT NULL,
  `transport` varchar(40) DEFAULT NULL,
  `aors` varchar(40) DEFAULT NULL,
  `auth` varchar(40) DEFAULT NULL,
  `context` varchar(40) DEFAULT NULL,
  `disallow` varchar(200) DEFAULT NULL,
  `allow` varchar(200) DEFAULT NULL,
  `callerid` varchar(80) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- 
-- Dumping data for table `ps_endpoints`
-- 

LOCK TABLES `ps_endpoints` WRITE;
UNLOCK TABLES;

-- 
-- Table structure for table `ps_endpoints_custom`
-- 

DROP TABLE IF EXISTS `ps_endpoints_custom`;
CREATE TABLE `ps_endpoints_custom` (
  `id` varchar(40) NOT NULL,
  `record_yn` varchar(1) DEFAULT 'Y',
  `mobile_no` varchar(20) DEFAULT NULL,
  `routing_mode` varchar(2) DEFAULT '10',
  `status` varchar(2) DEFAULT '10',
  `duty_yn` varchar(1) DEFAULT 'N',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- 
-- Dumping data for table `ps_endpoints_custom`
-- 

LOCK TABLES `ps_endpoints_custom` WRITE;
INSERT INTO `ps_endpoints_custom` VALUES
 ('101','Y',NULL,'10','10','N'),
 ('102','Y',NULL,'10','10','N'),
 ('103','Y',NULL,'10','10','N'),
 ('121','Y',NULL,'10','10','N'),
 ('122','Y',NULL,'10','10','N'),
 ('131','Y',NULL,'10','10','N'),
 ('132','Y',NULL,'10','10','N');
UNLOCK TABLES;

-- 
-- Table structure for table `ps_transports`
-- 

DROP TABLE IF EXISTS `ps_transports`;
CREATE TABLE `ps_transports` (
  `id` varchar(40) NOT NULL,
  `bind` varchar(40) DEFAULT NULL,
  `protocol` varchar(40) DEFAULT NULL,
  `external_signaling_address` varchar(40) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- 
-- Dumping data for table `ps_transports`
-- 

LOCK TABLES `ps_transports` WRITE;
INSERT INTO `ps_transports` VALUES
 ('transport-udp','0.0.0.0:5060','udp','172.30.1.11');
UNLOCK TABLES;

-- 
-- Table structure for table `queue_members`
-- 

DROP TABLE IF EXISTS `queue_members`;
CREATE TABLE `queue_members` (
  `uniqueid` int NOT NULL AUTO_INCREMENT,
  `queue_name` varchar(128) NOT NULL,
  `interface` varchar(128) NOT NULL,
  `membername` varchar(128) DEFAULT NULL,
  `state_interface` varchar(128) DEFAULT NULL,
  `penalty` int DEFAULT '0',
  `paused` int DEFAULT '0',
  PRIMARY KEY (`uniqueid`),
  KEY `queue_name` (`queue_name`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- 
-- Dumping data for table `queue_members`
-- 

LOCK TABLES `queue_members` WRITE;
INSERT INTO `queue_members` VALUES
 (1,'8000','PJSIP/101','101','PJSIP/101',0,0);
UNLOCK TABLES;

-- 
-- Table structure for table `queues`
-- 

DROP TABLE IF EXISTS `queues`;
CREATE TABLE `queues` (
  `name` varchar(128) NOT NULL,
  `strategy` varchar(128) DEFAULT NULL,
  `timeout` int DEFAULT NULL,
  `ringinuse` varchar(3) DEFAULT NULL,
  `context` varchar(128) DEFAULT NULL,
  `musiconhold` varchar(128) DEFAULT NULL,
  PRIMARY KEY (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- 
-- Dumping data for table `queues`
-- 

LOCK TABLES `queues` WRITE;
INSERT INTO `queues` VALUES
 ('8000','linear',15,'no','from-internal','default'),
 ('8001','linear',15,'no','from-internal','default'),
 ('8002','linear',15,'no','from-internal','default');
UNLOCK TABLES;

/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
